* {
    background-color: black;
    color: white;
    border: 1px solid red;
}

.container1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-title {
    font-weight: bolder;
    font-size: 50px;
}
.links {
    display: flex;
    align-content: center;
    gap: 10px;
    
}
.linkButton {
    font-size: 30px;
}
